html {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size:16px;
}

*, *:before, *:after {
  box-sizing:inherit;
}


h2, h4, p {
  margin:0;
}

body {
  padding:20px;
}


#card {
 
  box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
  border-radius:5px;
  overflow:hidden;
  
}

#top-section {
  width:100%;
  height: 45%;
  padding:25px;
  
}

#bottom-section {
  width:100%;
  height: 55%;
  color:white;
  display:flex;
  flex-direction:column;
}

#bottom-left-section {
  height: 100%;
  background-color:#2ab2af;
  padding:25px;
  flex-basis:50%;
}

#bottom-right-section {
  height: 100%;
   background-color:#2ebfbd;
  padding:25px;
  flex-basis:50%;
}

#top-section h2 {
  color: #2ab2af;
  margin-bottom:20px;
}

#top-section h4 {
  color: hsl(71, 73%, 54%);
  margin-bottom:10px;
}

#top-section p {
  color: hsl(218, 22%, 67%);
}

button {
  color:white;
  background-color:hsl(71, 73%, 54%);
  border:none;
  padding:10px;
  width:100%;
  border-radius:5px;
}

button:hover {
  cursor: pointer;
  background-color:#A9c42d;
  transform: scale(1.02);
}

#price {
  font-weight:700;
  font-size:1.4rem;
}

#bottom-left-section h4 {
  margin-bottom:25px
}

#bottom-left-section p {
  font-size: 0.8rem;
  margin-bottom:40px;
}

#price-container {
  margin-bottom:10px;
  display:flex;
  align-items:center;
}

#price-frequency {
  font-size:0.8rem;
  opacity:0.7;
  margin-left:5px;
}



ul {
  padding:0;
  list-style:none;
  opacity:0.8;
  font-size:0.8rem;
}

li {
  margin-bottom:5px;
}

@media(min-width:576px) {
  #card {
  width:550px;
  height:400px;
}
  #bottom-section {
    flex-direction:row;
  }
 
  
}

